@import "~taro-ui/dist/style/components/flex.scss";

.card {
  background-color: white;
}

.card-border {
  padding: 20px;
  text-align: center;
  border: 2px;
  border-radius: 20px;
  width: 80%;
  height: 200px;
}

.card-right {
  padding: 30px 0 0 0;
}

.card-bottom-right {
  padding: 80px 0 0 0;
}

.card-heart {
  padding: 0 0 0 100px;
}

.card-people-name {
  color: #d3d3d3;
  font-size: 35px;
}
